<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Makku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Makku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Makku.Properties.Settings>
            <setting name="yggApiAddr" serializeAs="String">
                <value>https://mc.wheatblock.cn:47120/ias-v2</value>
            </setting>
            <setting name="serverAddr" serializeAs="String">
                <value>mc.wheatblock.cn</value>
            </setting>
            <setting name="serverProv" serializeAs="String">
                <value>WheatBlock</value>
            </setting>
            <setting name="serverPort" serializeAs="String">
                <value>47123</value>
            </setting>
            <setting name="serverDesc" serializeAs="String">
                <value>和谐城MC服务器，群号458517226，欢迎进群交流。
本服务器正在建设中。</value>
            </setting>
            <setting name="serverQQLink" serializeAs="String">
                <value>https://jq.qq.com/?_wv=1027&amp;k=5R1HMHp</value>
            </setting>
            <setting name="serverWebsite" serializeAs="String">
                <value>https://wheatblock.github.io/rccity/</value>
            </setting>
            <setting name="mcVersion" serializeAs="String">
                <value>1.8.9</value>
            </setting>
            <setting name="serverDynMapSite" serializeAs="String">
                <value>http://mc.wheatblock.cn:47110/</value>
            </setting>
            <setting name="serverName" serializeAs="String">
                <value>和谐城 RCCITY</value>
            </setting>
            <setting name="mcAssetIndex" serializeAs="String">
                <value>1.8</value>
            </setting>
        </Makku.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Makku.Properties.Settings>
            <setting name="javaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="myToken" serializeAs="String">
                <value />
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="memSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="myUuid" serializeAs="String">
                <value />
            </setting>
            <setting name="userProp" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="clientToken" serializeAs="String">
                <value />
            </setting>
            <setting name="debugMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Makku.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
